/*LOGIN FORM STYLE*/

.container {
  text-align: center;
}

.img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-weight: bold;
}
.login-form {
  margin-top: 50px;
  text-align: left;
  justify-content: center;
  display: flex;
}
.form-input {
  margin-bottom: 10px;
  width: 300px;
  padding: 5px;
  font-size: 14px;
}

.login-form button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  margin: 4px 0px;
}

.form-link {
  display: block;
  margin-top: 10px;
}

/*REGISTER FORM STYLE*/
.registerForm {
  margin-top: 50px;
  text-align: left;
  justify-content: center;
  display: flex;
}

.registerForm input {
  margin-bottom: 10px;
  width: 300px;
  padding: 5px;
  font-size: 14px;
}

.registerForm button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

/*BILLS FORM STYLE*/
.add-id {
  margin-top: 50px;
  text-align: left;
  justify-content: center;
  display: flex;
}
.add-id input {
  margin-bottom: 10px;
  width: 300px;
  padding: 5px;
  font-size: 14px;
}
.add-id button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
/*GROUPS FORM STYLE*/
table {
  width: 70%;
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
}
table tr:nth-child(2),
table tr:nth-child(4) {
  background-color: grey;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: white;
  height: 20px;
}

/*GROUP FORM STYLE INPUT BLOCK*/
.add-container {
  margin-top: 20px;
  display: flex;
  text-align: left;
  justify-content: center;
}
.add-container input {
  margin-bottom: 10px;
  width: 300px;
  padding: 5px;
  font-size: 14px;
}

.add-container button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
